################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/src/*.nnue
/src/*.o
/src/Polyfish.exe
/src/Polyfish
/Out/*
/Tools/Build/*
/Polyfish.vcxproj.user
/Tools/ssh.bat
/src/.depend
/Polyfish_x86-64-sse41-popcnt.exe
/Tools/_ssh.bat
